/* 拖动时的行样式 */
.cm-dragging-line {
    opacity: 0.5;
    background-color: var(--background-primary-alt);
}

.drag-preview {
    padding: 5px;
    background: white;
    border: 1px solid rgb(175, 175, 175);
    width: 200px;
    border-radius: 5px;
}


/* 拖动手柄容器 */
.cm-drag-handler-container {
    cursor: move;
    user-select: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.cm-line:hover .cm-drag-handler-container {
    opacity: 1;
}


.markdown-source-view.mod-cm6 .cm-drag-handler-container {
    position: relative;
    z-index: 1;
    top: 5px;
    left: -5px;
    display: flex;
    width: min-content;
    height: min-content;
}

.markdown-source-view.mod-cm6 .cm-line:has(.cm-fold-indicator) span.cm-drag-handler-container .clickable-icon {
    inset-inline-end: 18px;
}

.markdown-source-view.mod-cm6 .cm-line:hover .cm-drag-handler-container .clickable-icon {
    opacity: 1;
}

.markdown-source-view.mod-cm6 .cm-drag-handler-container .clickable-icon {
    position: absolute;
    top: 0;
    inset-inline-end: 2px;
    height: 22px;
    padding: var(--size-2-2);
    --icon-size: 14px;
    --icon-stroke: 2px;
    opacity: 0;
}


/* 通用可点击图标样式 */
.clickable-icon {
    -webkit-app-region: no-drag;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-2-2) var(--size-2-3);
    cursor: var(--cursor);
    border-radius: var(--clickable-icon-radius);
    color: var(--icon-color);
    opacity: var(--icon-opacity);
    transition: opacity 0.15s ease-in-out;
    height: auto;
}


/* 正在拖动的行 */
.cm-line.dragging {
    opacity: 0.3;
    background-color: var(--background-primary-alt);
}



.clickable-icon:hover {
    background-color: var(--background-modifier-hover);
}

.HyperMD-list-line.HyperMD-list-line-6.cm-line,
.HyperMD-list-line.HyperMD-list-line-5.cm-line,
.HyperMD-list-line.HyperMD-list-line-4.cm-line,
.HyperMD-list-line.HyperMD-list-line-3.cm-line,
.HyperMD-list-line.HyperMD-list-line-2.cm-line,
.HyperMD-list-line.HyperMD-list-line-1.cm-line{
    padding-inline-start: var(--list-padding-start1, 0px) !important;
}
